@import '../node_modules/modern-normalize/modern-normalize.css';

/* Poppins, regular, medium, semibold */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

/* todo: setat stilurile genearale */
body {
  margin: 0;
  /* display: flex;
  place-items: center; */
  /* min-width: 320px; */
  min-height: 100dvh;
  background: linear-gradient(to bottom, #F6F6F7 0%, #F6F6F7 8%, #C4C4C4 50%, #BEDBB0 92%, #BEDBB0 100%);
  font-family: Poppins, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

button {
  cursor: pointer;
  border: none;
  background-color: transparent;
  padding: 0;
}

a {
  text-decoration: none;
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input::-ms-reveal,
input::-ms-clear {
  display: none;
}

@media (min-width: 1280px) {
  main:has(> section):has(> aside) {
    display: flex;
    width: 1280px;
    margin: 0 auto;
  }
}
